In [1]:
orders = sc.textFile("/home/ubuntu/Data-For-Spark/data-master/retail_db/orders/part-00000")

In [2]:
orders.first()

'1,2013-07-25 00:00:00.0,11599,CLOSED'

In [3]:
ordersItem = sc.textFile("/home/ubuntu/Data-For-Spark/data-master/retail_db/order_items/part-00000")

In [4]:
ordersItem.first()

'1,1,957,1,299.98,299.98'

In [11]:
orders_map = orders.map(lambda i: (int(i.split(",")[0]), i.split(",")[1]))

In [12]:
for i in orders_map.take(5):print(i)

(1, '2013-07-25 00:00:00.0')
(2, '2013-07-25 00:00:00.0')
(3, '2013-07-25 00:00:00.0')
(4, '2013-07-25 00:00:00.0')
(5, '2013-07-25 00:00:00.0')

In [13]:
ordersItem_map = ordersItem.map(lambda i: (int(i.split(",")[1]),float(i.split(",")[4])))

In [15]:
for i in ordersItem_map.take(5): print(i)

(1, 299.98)
(2, 199.99)
(2, 250.0)
(2, 129.99)
(4, 49.98)

In [16]:
Final_JOIN = orders_map.join(ordersItem_map)

In [26]:
for i in Final_JOIN.take(10): print(i)

(2, ('2013-07-25 00:00:00.0', 199.99))
(2, ('2013-07-25 00:00:00.0', 250.0))
(2, ('2013-07-25 00:00:00.0', 129.99))
(4, ('2013-07-25 00:00:00.0', 49.98))
(4, ('2013-07-25 00:00:00.0', 299.95))
(4, ('2013-07-25 00:00:00.0', 150.0))
(4, ('2013-07-25 00:00:00.0', 199.92))
(8, ('2013-07-25 00:00:00.0', 179.97))
(8, ('2013-07-25 00:00:00.0', 299.95))
(8, ('2013-07-25 00:00:00.0', 199.92))

In [22]:
Final_JOIN.count()

172198

In [18]:
Left_Outer_JOIN = orders_map.leftOuterJoin(ordersItem_map)

In [30]:
for i in Left_Outer_JOIN.take(4): print(i)

(2, ('2013-07-25 00:00:00.0', 199.99))
(2, ('2013-07-25 00:00:00.0', 250.0))
(2, ('2013-07-25 00:00:00.0', 129.99))
(4, ('2013-07-25 00:00:00.0', 49.98))

In [20]:
Left_Outer_JOIN.count()

183650

In [25]:
type(Left_Outer_JOIN)

pyspark.rdd.PipelinedRDD

NOTE:- Eg:-
>>> i[1]
(32768, (u'2014-02-12 00:00:00.0', 129.99000000000001))
>>> i[1][1]
(u'2014-02-12 00:00:00.0', 129.99000000000001)
>>> i[1][1][1]
129.99000000000001

In [27]:
Left_Outer_JOIN_NONE = Left_Outer_JOIN.filter(lambda i: i[1][1] == None)

In [28]:
for i in Left_Outer_JOIN_NONE.take(5): print(i)

(6, ('2013-07-25 00:00:00.0', None))
(22, ('2013-07-25 00:00:00.0', None))
(26, ('2013-07-25 00:00:00.0', None))
(32, ('2013-07-25 00:00:00.0', None))
(40, ('2013-07-25 00:00:00.0', None))

NOTE:- Use Right Outer Join similarly