In [1]:
#SHORT DATA for each order ID in desc order

In [2]:
ordersItem = sc.textFile("/home/ubuntu/Data-For-Spark/data-master/retail_db/order_items/part-00000")

In [3]:
ordersItem.first()

'1,1,957,1,299.98,299.98'

In [4]:
ordersItem_Map = ordersItem.map(lambda i: (int(i.split(",")[1]), i))

In [6]:
ordersItem_Map.take(5)

[(1, '1,1,957,1,299.98,299.98'),
 (2, '2,2,1073,1,199.99,199.99'),
 (2, '3,2,502,5,250.0,50.0'),
 (2, '4,2,403,1,129.99,129.99'),
 (4, '5,4,897,2,49.98,24.99')]

In [7]:
ordersItem_Map_GroupByOrderId = ordersItem_Map.groupByKey()

In [8]:
for i in ordersItem_Map_GroupByOrderId.take(10): print(i)

(1, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de438>)
(2, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de400>)
(4, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de358>)
(5, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5dec88>)
(7, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de2b0>)
(8, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de278>)
(9, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de208>)
(10, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de1d0>)
(11, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de198>)
(12, <pyspark.resultiterable.ResultIterable object at 0x7fa50c5de160>)

In [37]:
oredrItemSorted_MAP= ordersItem_Map_GroupByOrderId.map(lambda i: sorted(i[1],key = lambda k: float(k.split(",")[4]), reverse=True))

In [39]:
type(oredrItemSorted_MAP)

pyspark.rdd.PipelinedRDD

# NOTE:- Because we are using MAP so it will return a collection

In [32]:
for i in oredrItemSorted_MAP.take(5):print(i)

['1,1,957,1,299.98,299.98']
['3,2,502,5,250.0,50.0', '2,2,1073,1,199.99,199.99', '4,2,403,1,129.99,129.99']
['6,4,365,5,299.95,59.99', '8,4,1014,4,199.92,49.98', '7,4,502,3,150.0,50.0', '5,4,897,2,49.98,24.99']
['9,5,957,1,299.98,299.98', '12,5,957,1,299.98,299.98', '10,5,365,5,299.95,59.99', '13,5,403,1,129.99,129.99', '11,5,1014,2,99.96,49.98']
['15,7,957,1,299.98,299.98', '14,7,1073,1,199.99,199.99', '16,7,926,5,79.95,15.99']

# NOTE:- If we want data as array, then use FLATMAP(). If we want a single result set then use MAP().

In [33]:
oredrItemSorted_FlatMap = ordersItem_Map_GroupByOrderId.flatMap(lambda i: sorted(i[1],key = lambda k: float(k.split(",")[4]), reverse=True))

In [34]:
for i in oredrItemSorted_FlatMap.take(5):print(i)

1,1,957,1,299.98,299.98
3,2,502,5,250.0,50.0
2,2,1073,1,199.99,199.99
4,2,403,1,129.99,129.99
6,4,365,5,299.95,59.99

In [40]:
type(oredrItemSorted_FlatMap)

pyspark.rdd.PipelinedRDD