In [1]:
trafficPath = "file:///home/ubuntu/Downloads/SparkBasic/Dodgers.data"
gamesPath = "file:////home/ubuntu/Downloads/SparkBasic/Dodgers.events"

In [2]:
traffic = sc.textFile(trafficPath)

In [3]:
traffic.take(10)

['4/10/2005 0:00,-1',
 '4/10/2005 0:05,-1',
 '4/10/2005 0:10,-1',
 '4/10/2005 0:15,-1',
 '4/10/2005 0:20,-1',
 '4/10/2005 0:25,-1',
 '4/10/2005 0:30,-1',
 '4/10/2005 0:35,-1',
 '4/10/2005 0:40,-1',
 '4/10/2005 0:45,-1']

In [4]:
#each row represent 5 mnt of time interval and 2nd column represent number of cars passed by

In [5]:
games = sc.textFile(gamesPath)

In [6]:
games.take(10)

['04/12/05,13:10:00,16:23:00,55892,San Francisco,W 9-8�',
 '04/13/05,19:10:00,21:48:00,46514,San Francisco,W 4-1�',
 '04/15/05,19:40:00,21:48:00,51816,San Diego,W 4-0�',
 '04/16/05,19:10:00,21:52:00,54704,San Diego,W 8-3�',
 '04/17/05,13:10:00,15:31:00,53402,San Diego,W 6-0�',
 '04/25/05,19:10:00,21:33:00,36876,Arizona,L 4-2�',
 '04/26/05,19:10:00,22:00:00,44486,Arizona,L 3-2�',
 '04/27/05,19:10:00,22:17:00,54387,Arizona,L 6-3�',
 '04/29/05,19:40:00,22:01:00,40150,Colorado,W 6-3�',
 '04/30/05,19:10:00,21:45:00,54123,Colorado,W 6-2�']

In [7]:
#start abnd end time , number of ppl attended game, opponent, win loss info and score

In [11]:
from datetime import datetime
import csv
from io import StringIO

In [16]:
def parseTraffic(row):
    Date_fmt = "%m/%d/%Y %H:%M"
    row = row.split(",")
    row[0] = datetime.strptime(row[0],Date_fmt)
    row[1] = int(row[1])
    return (row[0],row[1])

In [17]:
trafficParshed = traffic.map(parseTraffic)

In [18]:
trafficParshed.take(10)

[(datetime.datetime(2005, 4, 10, 0, 0), -1),
 (datetime.datetime(2005, 4, 10, 0, 5), -1),
 (datetime.datetime(2005, 4, 10, 0, 10), -1),
 (datetime.datetime(2005, 4, 10, 0, 15), -1),
 (datetime.datetime(2005, 4, 10, 0, 20), -1),
 (datetime.datetime(2005, 4, 10, 0, 25), -1),
 (datetime.datetime(2005, 4, 10, 0, 30), -1),
 (datetime.datetime(2005, 4, 10, 0, 35), -1),
 (datetime.datetime(2005, 4, 10, 0, 40), -1),
 (datetime.datetime(2005, 4, 10, 0, 45), -1)]

In [19]:
#or
for i in trafficParshed.take(10): print(i)

(datetime.datetime(2005, 4, 10, 0, 0), -1)
(datetime.datetime(2005, 4, 10, 0, 5), -1)
(datetime.datetime(2005, 4, 10, 0, 10), -1)
(datetime.datetime(2005, 4, 10, 0, 15), -1)
(datetime.datetime(2005, 4, 10, 0, 20), -1)
(datetime.datetime(2005, 4, 10, 0, 25), -1)
(datetime.datetime(2005, 4, 10, 0, 30), -1)
(datetime.datetime(2005, 4, 10, 0, 35), -1)
(datetime.datetime(2005, 4, 10, 0, 40), -1)
(datetime.datetime(2005, 4, 10, 0, 45), -1)

In [20]:
#NOTE:- Each record is tuple now

# reduceByKey

In [21]:
#Extract date from timestamp

In [24]:
dailyTrend = trafficParshed.map(lambda i: (i[0].date(),i[1]))

In [26]:
dailyTrend.take(10)

[(datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1),
 (datetime.date(2005, 4, 10), -1)]

In [27]:
dailyTrend_REDUCEBYKEY = dailyTrend.reduceByKey(lambda x,y:x+y)

In [28]:
dailyTrend_REDUCEBYKEY.take(10)

[(datetime.date(2005, 4, 10), -288),
 (datetime.date(2005, 4, 11), 5062),
 (datetime.date(2005, 4, 12), 6822),
 (datetime.date(2005, 4, 13), 6742),
 (datetime.date(2005, 4, 14), 6423),
 (datetime.date(2005, 4, 15), 6459),
 (datetime.date(2005, 4, 16), 6002),
 (datetime.date(2005, 4, 17), 5322),
 (datetime.date(2005, 4, 18), 5600),
 (datetime.date(2005, 4, 19), 6049)]

#Directly you can write
dailyTrend = trafficParshed.map(lambda i: (i[0].date(),i[1]))\
                            .reduceByKey(lambda x,y:x+y)

In [31]:
dailyTrend_REDUCEBYKEY.sortBy(lambda i:-i[1]).take(10)

[(datetime.date(2005, 7, 28), 7661),
 (datetime.date(2005, 7, 29), 7499),
 (datetime.date(2005, 8, 12), 7287),
 (datetime.date(2005, 7, 27), 7238),
 (datetime.date(2005, 9, 23), 7175),
 (datetime.date(2005, 7, 26), 7163),
 (datetime.date(2005, 5, 20), 7119),
 (datetime.date(2005, 8, 11), 7110),
 (datetime.date(2005, 9, 8), 7107),
 (datetime.date(2005, 9, 7), 7082)]

NOTE:- soryBy to find out top 10 ,
    -ve is used to do it in desc order